.tad-quadrant-chart {
    background-color: #eeeeee;

    .axis path,
    .axis line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
    }

    .axis text {
        font-family: sans-serif;
        font-size: 11px;
    }

    .axis-label {
        font-family: sans-serif;
        font-size: 14px;
        font-weight: bold;
    }

    .point-label {
        font-family: sans-serif;
        font-size: 12px;
        fill: white;
        font-weight: bold;
    }
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    font: 12px sans-serif;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
	z-index: 10000;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip.n:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.d3-tip.e:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.8);
    content: "\25C0";
    position: absolute;
    text-align: left;
}

.d3-tip.e:after {
  margin: 0 -1px 0 0;
  top: 50%;
  right: 100%;
}

.fill-quadrant-ambient {
    color: #ffffff;
    background-color: $quadrant-ambient-color;
	fill: $quadrant-ambient-color;
}

.fill-quadrant-warning {
    color: #ffffff;
    background-color: $quadrant-warning-color;
	fill: $quadrant-warning-color;
}

.bs-callout-quadrant-warning {
    border-left-color: $quadrant-warning-color;
}
.bs-callout-quadrant-warning h4 {
	color: $quadrant-warning-color;
}

.bs-callout-quadrant-ambient {
    border-left-color: $quadrant-ambient-color;
}
.bs-callout-quadrant-ambient h4 {
	color: $quadrant-ambient-color;
}