
.sp-palette .sp-thumb-el {
    width: 215px;
    height: 20px;
    margin: 2px 1px;
    border: solid 1px #d0d0d0;
}

.sp-replacer{
    display: block;
    background: none;
}

.sp-replacer, .sp-replacer:hover, .sp-replacer.sp-active {
    border: 1px solid #ccc;
}

.sp-container {
    background-color: #fff;
    border: solid 1px #ccc;
}

.sp-dd {
    float: right;
    display: none;
}

.sp-preview {
    width: 100%;
    border: none;
}
