<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<!-- Place everything within .nav-collapse to hide it until above 768px -->
		<div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--<li><a ui-sref="ilAdmin.candidate">Candidate</a></li>-->
                </ul>
        </div>
		<!-- /.nav-collapse -->
	</div>
</nav>
